EscritorioImagina/EscritorioImagina/Connected Services/BODEGA/BODEGA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listar" type="tns:listar" />
  <xs:element name="listarResponse" type="tns:listarResponse" />
  <xs:complexType name="listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alphilia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alphilia">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:int" />
      <xs:element name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>