LibreriaImagina/src/conf/xml-resources/web-service-references/wsBanco/wsdl/localhost_8080/WSBanco/wsBanco.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="ListadoBC" type="tns:ListadoBC"/>

<xs:element name="ListadoBCResponse" type="tns:ListadoBCResponse"/>

<xs:complexType name="ListadoBC">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListadoBCResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="montoCredito" type="xs:int"/>
<xs:element name="numero" type="xs:int"/>
<xs:element name="papellido" type="xs:string" minOccurs="0"/>
<xs:element name="pnombre" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>