LibreriaImagina/src/conf/xml-resources/web-service-references/wsseguimiento/wsdl/localhost_8080/WSEG/wsseguimiento.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Seguimiento" type="tns:Seguimiento"/>

<xs:element name="SeguimientoResponse" type="tns:SeguimientoResponse"/>

<xs:element name="Seguimientofiltrado" type="tns:Seguimientofiltrado"/>

<xs:element name="SeguimientofiltradoResponse" type="tns:SeguimientofiltradoResponse"/>

<xs:complexType name="Seguimiento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SeguimientoResponse">
<xs:sequence>
<xs:element name="return" type="tns:inspeccion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inspeccion">
<xs:sequence>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Seguimientofiltrado">
<xs:sequence>
<xs:element name="codigo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeguimientofiltradoResponse">
<xs:sequence>
<xs:element name="return" type="tns:inspeccion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>