LibreriaImagina/src/conf/xml-resources/web-service-references/wsPago/wsdl/localhost_8080/WSPAGO/wsPago.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="wsPago">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/WSPAGO/wsPago?xsd=1"/>
</xsd:schema>
</types>
<message name="UpdateC">
<part name="parameters" element="tns:UpdateC"/>
</message>
<message name="UpdateCResponse">
<part name="parameters" element="tns:UpdateCResponse"/>
</message>
<message name="LoginBc">
<part name="parameters" element="tns:LoginBc"/>
</message>
<message name="LoginBcResponse">
<part name="parameters" element="tns:LoginBcResponse"/>
</message>
<message name="MontoC">
<part name="parameters" element="tns:MontoC"/>
</message>
<message name="MontoCResponse">
<part name="parameters" element="tns:MontoCResponse"/>
</message>
<message name="Pago">
<part name="parameters" element="tns:Pago"/>
</message>
<message name="PagoResponse">
<part name="parameters" element="tns:PagoResponse"/>
</message>
<portType name="wsPago">
<operation name="UpdateC">
<input wsam:Action="http://ws/wsPago/UpdateCRequest" message="tns:UpdateC"/>
<output wsam:Action="http://ws/wsPago/UpdateCResponse" message="tns:UpdateCResponse"/>
</operation>
<operation name="LoginBc">
<input wsam:Action="http://ws/wsPago/LoginBcRequest" message="tns:LoginBc"/>
<output wsam:Action="http://ws/wsPago/LoginBcResponse" message="tns:LoginBcResponse"/>
</operation>
<operation name="MontoC">
<input wsam:Action="http://ws/wsPago/MontoCRequest" message="tns:MontoC"/>
<output wsam:Action="http://ws/wsPago/MontoCResponse" message="tns:MontoCResponse"/>
</operation>
<operation name="Pago">
<input wsam:Action="http://ws/wsPago/PagoRequest" message="tns:Pago"/>
<output wsam:Action="http://ws/wsPago/PagoResponse" message="tns:PagoResponse"/>
</operation>
</portType>
<binding name="wsPagoPortBinding" type="tns:wsPago">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="UpdateC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LoginBc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MontoC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsPago">
<port name="wsPagoPort" binding="tns:wsPagoPortBinding">
<soap:address location="http://localhost:8080/WSPAGO/wsPago"/>
</port>
</service>
</definitions>