LibreriaImagina/src/conf/xml-resources/web-service-references/wsPago/wsdl/localhost_8080/WSPAGO/wsPago.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="LoginBc" type="tns:LoginBc"/>

<xs:element name="LoginBcResponse" type="tns:LoginBcResponse"/>

<xs:element name="MontoC" type="tns:MontoC"/>

<xs:element name="MontoCResponse" type="tns:MontoCResponse"/>

<xs:element name="Pago" type="tns:Pago"/>

<xs:element name="PagoResponse" type="tns:PagoResponse"/>

<xs:element name="UpdateC" type="tns:UpdateC"/>

<xs:element name="UpdateCResponse" type="tns:UpdateCResponse"/>

<xs:complexType name="UpdateC">
<xs:sequence>
<xs:element name="idc" type="xs:int"/>
<xs:element name="total" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateCResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Pago">
<xs:sequence>
<xs:element name="total" type="xs:int"/>
<xs:element name="pago" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginBc">
<xs:sequence>
<xs:element name="run" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginBcResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MontoC">
<xs:sequence>
<xs:element name="id_cuenta" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MontoCResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>